@import './fonts.scss';
$background: #778899;
$color-principal: #6396e2;
$color-white: #f2ecec;
$font-principal: 'Exo';
$font-price: 'Roboto';
$oscuro: #000;
$color-body: #202124;
$color-red-fort: #8b0000;
$color-red-afable: #cd5c5c;
$color-green-fort: #006400;
$color-green-afable: #228b22;
$color-yellow-fort: #ffff00;
$color-yellow-afable: #f0e68c;
$color-blue-fort: #1e90ff;
$color-blue-afable: #87ceeb;
$color-marron-fort: #a0522d;
$color-marron-afable: #deb887;
$yello-pokemon: #feca1b;
$blue-pokemon: #3761a8;

$color-pokedexl: #cb225b;
$color-pokedexr: #ff1a55;
$color-result: #0b1956;
$color-buttons: #00aaf7;
$color-button-end: #0b1956;
$pokedex-shadow: #481357;
